<%- layout('layout') %>
<div>
    <h3><%- title %></h3>
    <h4>Are you sure you want to delete the following activity?</h4>
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd><%- data.Description %></dd>
            <dt>Creation Date</dt>
            <dd><%- data.CreationDate %></dd>
        </dl>
    <form method="post" action="/activities/delete">
        <input type="hidden" name="_id" value="<%= data._id %>">
        <input type="submit" value="Delete" class="btn btn-danger">
        <a href="/activities/list" class="btn btn-primary">Cancel</a>
    </form>
</div>