<%- layout('layout') %>
<div>
    <h3><%- title %></h3>
    <div class="row">
        <form method="post" action="/activities/edit" class="col-xs-6">
            <div class="form-group">
                <label for="Description">Description</label>
                <input name="Description" value="<%- data.Description %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="CreationDate">Description</label>
                <input name="CreationDate" value="<%- data.CreationDate %>" class="form-control" disabled>
            </div>
            <input type="submit" value="Update" class="btn btn-success">
            <input type="hidden" name="_id" value="<%= data._id %>">
            <input type="hidden" name="CreationDate" value="<%- data.CreationDate %>" class="form-control">
            <a href="/activities/list" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>