<%- layout('layout.ejs') %>
<div>
    <h3><%- title %></h3>
    <p><a href="/activities/create" class="btn btn-success">Add an activity</a></p>
    <table class="table table-striped table-condensed">
        <tr>
            <th>Description</th>
            <th>Creation Date</th>
            <th></th>
        </tr>
        
        <% for(var i=0;i<data.length;i++){ %>
        <tr>
            <td><%= data[i].Description %></td>
            <td><%= data[i].CreationDate %></td>
            <td>
                <a href="/activities/edit/<%= data[i]._id %>" class="btn btn-primary btn-small">Edit</a>
                <a href="/activities/delete/<%= data[i]._id %>" class="btn btn-warning btn-small">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
</div>